<html>
    <body>
        <div style="display: none; max-height:0; overflow: hidden;">Reset your password</div>
        Hi <b>{{ username }}</b>,
        <br/><br/><br/>
        You recently requested to reset the password for your account.
        <br/><br/>
        To reset your password click the <a href="{{ url }}" mc:disable-tracking class="es-button" target="_blank">link below</a>!
        <br/><br/>
        If you did not request a password reset, just ignore this email.
        <br/><br/>
        <a href="{{ url }}" mc:disable-tracking class="es-button" target="_blank">{{ url }}</a>
    </body>
</html>