{% if links.apple %}
    <a href="{{ links.apple }}">Login with Apple</a><br>
{% endif %}
{% if links.google %}
    <a href="{{ links.google }}">Login with Google</a><br>
{% endif %}
{% if links.facebook %}
    <a href="{{ links.facebook }}">Login with Facebook</a><br>
{% endif %}

<form method="get" action="{{ links.home }}login">
    <label for="email">email</label>
    <input type="email" name="email" id="email">
    <button type="submit"/>
</form>