<form method="post" action="{{ links.home }}username" id="usernameForm">
    <input type="hidden" name="userId" value="{{ data.id }}"/>
    <label for="code">username</label>
    <input type="text" name="username" id="username" value="{{ data.attributes.username }}">
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Confirm username and password</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#usernameForm").submit(function (e) {
            e.preventDefault();

            var postData = $(this).serializeArray();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                enctype: 'multipart/form-data',
                data: postData,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    error = JSON.parse(XMLHttpRequest.responseText);
                    alert(error.errors[0].title);
                },
                success: function (result) {
                    window.location.replace(result.links.redirect);
                }
            });
        });
    });
</script>