{% extends "/Auth/Templates/Container.twig" %}

{% block content %}
    <h1>Account Activation</h1>
    <form method="{{ links.formAction.meta.method }}" action="{{ links.formAction.href }}" id="defaultForm">
        Code:<br/>
        <input id="id_code" name="code" value="{{ meta.code }}"/>
        <input type="submit"/>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        ready(document.getElementById('id_code').focus());

        formSetup('defaultForm', '{{ links.formAction.meta.method | capitalize }}');

{% if meta.code %}
        ready(document.getElementById('defaultForm').submit());
{% endif %}
    </script>
{% endblock %}