<form method="post" action="{{ links.home }}forgot" id="forgotForm">
    <label for="email">email</label>
    <input type="text" name="email" id="email">
    <button type="submit">Reset your password</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#forgotForm").submit(function (e) {
            e.preventDefault();

            var postData = $(this).serializeArray();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                enctype: 'multipart/form-data',
                data: postData,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    error = JSON.parse(XMLHttpRequest.responseText);
                    alert(error.errors[0].title);
                },
                success: function (result) {
                    window.location.replace(result.links.redirect);
                }
            });
        });
    });
</script>