{% extends "/Auth/Templates/Container.twig" %}

{% block content %}
    <h1>Login with Password</h1>
    <form method="{{ links.formAction.meta.method }}" action="{{ links.formAction.href }}" id="defaultForm">
        Password:<br/>
        <input id="id_password" name="password" type="password"/>
        <input type="submit"/>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        ready(document.getElementById('id_password').focus());
        formSetup('defaultForm', '{{ links.formAction.meta.method | capitalize }}');
    </script>
{% endblock %}