{% extends "/Auth/Templates/Container.twig" %}

{% block content %}
    <h1>Password Reset</h1>
    The steps to reset your password has been sent to your email
{% endblock %}

{% block scripts %}
{% endblock %}